<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onuo.goods.dao.ShoesColorMapper">
  <resultMap id="BaseResultMap" type="com.onuo.goods.model.ShoesColor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="shoes_color_id" jdbcType="VARCHAR" property="shoesColorId" />
    <result column="shoes_color_name" jdbcType="VARCHAR" property="shoesColorName" />
    <result column="shoes_color_status" jdbcType="BIT" property="shoesColorStatus" />
  </resultMap>
    <select id="queryAllColorByShooesId" resultType="com.onuo.goods.model.ShoesColor" resultMap="BaseResultMap">
      select
      ss.shoes_color_id,ss.shoes_color_name,ss.shoes_color_status
      from shoes_detail sd join shoes_color ss
      on sd.shoes_color_id = ss.shoes_color_id

    </select>
</mapper>