<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onuo.goods.dao.ShoesMapper">
  <resultMap id="BaseResultMap" type="com.onuo.goods.model.Shoes">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="shoes_id" jdbcType="VARCHAR" property="shoesId" />
    <result column="shoes_number" jdbcType="VARCHAR" property="shoesNumber" />
    <result column="shoes_name" jdbcType="VARCHAR" property="shoesName" />
    <result column="shoes_price_sale" jdbcType="REAL" property="shoesPriceSale" />
    <result column="shoes_discount" jdbcType="REAL" property="shoesDiscount" />
    <result column="shoes_desc" jdbcType="VARCHAR" property="shoesDesc" />
    <result column="shoes_onsale_time" jdbcType="DATE" property="shoesOnsaleTime" />
    <result column="shoes_offsale_time" jdbcType="DATE" property="shoesOffsaleTime" />
    <result column="shoes_sale_count" jdbcType="INTEGER" property="shoesSaleCount" />
    <result column="shoes_gender" jdbcType="TINYINT" property="shoesGender" />
    <result column="shoes_status" jdbcType="TINYINT" property="shoesStatus" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
  </resultMap>
  <!--默认按照鞋的销量降序排序-->
    <select id="queryAll" resultMap="BaseResultMap">
      SELECT * from shoes order BY shoes_sale_count DESC
    </select>
  <!--查询的鞋子名称模糊查询,并按照销量排序-->
  <select id="queryByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT * from shoes WHERE shoes_name LIKE "%"#{shoesName}"%" order BY shoes_sale_count DESC
  </select>
  <!--根据鞋子性别查询-->
  <select id="queryByGender" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT * from shoes WHERE shoes_gender=#{gender} order by shoes_sale_count DESC
  </select>
  <!--根据鞋码大小查询-->
  <select id="queryBySize" resultMap="BaseResultMap">
    SELECT * from shoes WHERE shoes_id IN
    (SELECT sd.shoes_id from shoes_detail sd JOIN shoes_size ss on
    ss.shoes_size_id=sd.shoes_size_id and ss.shoes_size=#{size}) order BY shoes_sale_count DESC
  </select>
  <!--根据鞋子价格查询-->
  <select id="queryByPrice" resultMap="BaseResultMap">
SELECT * from shoes
    <where>
    <if test="minPrice != null">
      shoes_price_sale <![CDATA[ >= ]]> #{minPrice}
    </if>
    <if test="maxPrice != null">
      AND shoes_price_sale <![CDATA[ <= ]]>  #{maxPrice}
    </if>
  </where>
order BY shoes_sale_count DESC
  </select>
  <!--根据鞋子类别查询-->
  <select id="queryByCategory" resultMap="BaseResultMap">
  SELECT * from shoes WHERE category_id =#{categoryId} order BY shoes_sale_count DESC
  </select>
</mapper>