<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onuo.carts.dao.CartMapper">
  <resultMap id="BaseResultMap" type="com.onuo.carts.model.Cart">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cart_id" jdbcType="VARCHAR" property="cartId" />
    <result column="cust_id" jdbcType="VARCHAR" property="custId" />
    <result column="shoes_detail_id" jdbcType="VARCHAR" property="shoesDetailId" />
    <result column="quality" jdbcType="VARCHAR" property="quality" />
    <result column="add_time" jdbcType="DATE" property="addTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
  </resultMap>
    <insert id="save">
      insert into cart (cart_id,cust_id,shoes_detail_id,quality,add_time,update_time)
      values (#{cartId},#{custId},#{shoesDetailId},#{quality},#{addTime},#{updateTime})
    </insert>
  <update id="updateCount">
    UPDATE cart
    SET quality = #{param3}
    where shoes_detail_id = #{param1} and cust_id= #{param2}
  </update>
  <delete id="delete">
    DELETE FROM cart
    WHERE shoes_detail_id = #{param1.shoesDetailId} and cust_id=#{param2}
  </delete>
</mapper>