<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onuo.carts.dao.ReceiveAddressMapper">
  <resultMap id="BaseResultMap" type="com.onuo.carts.model.ReceiveAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="address_id" jdbcType="VARCHAR" property="addressId" />
    <result column="address_province" jdbcType="VARCHAR" property="addressProvince" />
    <result column="address_city" jdbcType="VARCHAR" property="addressCity" />
    <result column="address_area" jdbcType="VARCHAR" property="addressArea" />
    <result column="address_street" jdbcType="VARCHAR" property="addressStreet" />
    <result column="address_detail" jdbcType="VARCHAR" property="addressDetail" />
    <result column="address_post_code" jdbcType="INTEGER" property="addressPostCode" />
    <result column="address_recipient_name" jdbcType="VARCHAR" property="addressRecipientName" />
    <result column="address_recipient_telno" jdbcType="BIGINT" property="addressRecipientTelno" />
    <result column="is_default_address" jdbcType="INTEGER" property="isDefaultAddress" />
    <result column="cust_id" jdbcType="VARCHAR" property="custId" />
  </resultMap>
    <insert id="save">
      insert into receive_address
       values(#{addressId},#{addressProvince},#{addressCity},#{addressArea},#{addressStreet},#{addressDetail},#{addressPostCode},#{addressRecipientName},
       #{addressRecipientTelno},#{isDefaultAddress},#{custId})
    </insert>


  <update id="update" parameterType="com.onuo.carts.model.ReceiveAddress">
    update receive_address
    set address_province=#{addressProvince},address_city=#{addressCity},
      address_area=#{addressArea},address_street=#{addressStreet},address_detail=#{addressDetail},
      address_post_code=#{addressPostCode},address_recipient_name=#{addressRecipientName},address_recipient_telno=#{addressRecipientTelno},
      is_default_address=#{isDefaultAddress},cust_id=#{custId}
     where address_id = #{addressId}
  </update>


  <update id="updateDefaultAddress">
    update receive_address
    set is_default_address=1
    where address_id=#{param1} and cust_id=#{custId}
  </update>

  <delete id="delete">
    delete
    from receive_address
    where address_id=#{param1}
  </delete>
  <select id="queryAll" resultMap="BaseResultMap">
    SELECT * from receive_address
    where cust_id=#{custId}
  </select>
</mapper>