<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onuo.orders.dao.MyorderMapper">
  <resultMap id="BaseResultMap" type="com.onuo.orders.model.Myorder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="cust_id" jdbcType="VARCHAR" property="custId" />
    <result column="order_time" jdbcType="DATE" property="orderTime" />
    <result column="order_price" jdbcType="FLOAT" property="orderPrice" />
    <result column="order_address_id" jdbcType="VARCHAR" property="orderAddressId" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
  </resultMap>
    <!--<insert id="save"></insert>-->
  <!--添加订单-->
  <insert id="save" parameterType="com.onuo.orders.model.Myorder"></insert>
  <update id="updateStatus"></update>
  <select id="queryAll" resultType="com.onuo.orders.model.Myorder"></select>
  <select id="queryByShooesName" resultType="com.onuo.orders.model.Myorder"></select>
  <select id="queryById" resultType="com.onuo.orders.model.Myorder"></select>
</mapper>